:root {
    --bg-button: rgb(158, 178, 236);
    --border-button: solid 1px rgb(26, 24, 24);
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active{
    background-color:rgb(103, 115, 153); ;
}

.button.double {
    grid-column: span 2;
}

.button.triple {
    grid-column: span 3;
}

.button.operation {
    background-color: rgb(70, 44, 112);
    color: #FFF
}

.button.operation:active {
    background-color: rgb(41, 26, 65);
}